#kkcontainer{
  width: 90%;
  margin: auto;
  display: flex;
 justify-content:space-evenly;
}

input{
  border-radius: 8px;
 border: 2px solid grey;
 padding: 3px;
 width: 250px;
 
}
#indian-states {
  border-radius: 8px;
  border: 2px solid grey;
  padding: 3px;
  width: 260px;
}
.kkdetails{
  margin-top: 10px;
  margin-bottom: 10px
}
.kkbuttons{  
  gap: 20px; 
  display: flex;
 justify-content: space-between;
}
.kkcont{
  justify-content:end;
}
.kkdelivery{
  margin-top: 10px;
  margin-bottom: 10px
}

button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(24, 81, 26);
  color: white;
  cursor: pointer;
  width: 100%;
  letter-spacing: 1px;
}
h1,h5{
  color:  rgb(24, 81, 26);
}


.kkcity{
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 30px;
}

.kkpaybtn{
  color: white;
  background-color: rgb(24, 81, 26);
  width: 100%;
}

.checkbox input[type="checkbox"] {
margin: 0%;
 
}


.kkcontImg{
  width: 150px;
  margin-top: -80px;
}
.kkcontImg2{
  width: 190px;
  margin-top: -80px;
}