#kkcontainer{
  width: 80%;
  margin: auto;
  display: flex;
 justify-content:space-evenly;
}

input{
  border-radius: 8px;
 border: 2px solid grey;
 padding: 3px;
 width: 200px;
 
}
#indian-states {
  border-radius: 8px;
  border: 2px solid grey;
  padding: 3px;
  width: 210px;
}
.kkdetails{
  margin-top: 10px;
  margin-bottom: 10px
}
.kkbuttons{  
  gap: 20px; 
  display: flex;
 justify-content: space-between;
}
.kkcont{
  justify-content:end;
}
.kkdelivery{
  margin-top: 10px;
  margin-bottom: 10px
}

button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  width: 50%;
  letter-spacing: 1px;
}
h1,h5{
  color: green;
}


.kkcity{
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 30px;
}

.kkpaybtn{
  color: white;
  background-color: rgb(5, 120, 9);
  width: 100%;
}

.checkbox{
  display: flex;
  justify-content: flex-start;
}

.kkcontImg{
  width: 150px;
  margin-top: -80px;
}