#popularProducts_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 30px;
}
#popularProducts_head {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popularProducts_head h2 {
    margin: 0;
}

#popularProducts_head img {
    width: 420px;
}

#popularProducts_head button {
    border-radius: 100%;
    padding: 8px 11px;
    border: none;
    margin: 10px;
    background-color: #486e00;
}
@media screen and (max-width:1000px) {
    #popularProducts_head img {
            width: 210px;
        }
    
    #popularProducts_body {
            grid-template-columns: repeat(2, 1fr);
            gap: auto;
    }
}
@media screen and (max-width:720px) {
    #popularProducts_body {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}