@font-face {
    font-family: "ClashDisplay SemiBold";
    src: url("./fonts/ClashDisplay-Semibold.otf") format("opentype");
}
@font-face {
    font-family: "ClashDisplay Regular";
    src: url("./fonts/ClashDisplay-Regular.otf") format("opentype");
}
body{
    font-family: "ClashDisplay Regular",sans-serif;
    padding-top: 60px;
    max-width: 1200px;
    margin: auto;
    background-color: #fffff7;
}
#content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 25px;
}
#filters_sort{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#applied_filters{width: 50%;
    display: flex;
        justify-content: space-between;}
#sorting{
    border: none;
    font-family: "ClashDisplay Regular",sans-serif;
    background-color: none;
    width: max-content;
    height: 30px;
    margin: 10px;
    padding: 5px;
}
#heading{
    font-family: "ClashDisplay SemiBold",sans-serif;
    font-size: 32px;
    color: #486e00;
    margin: 0;
}
#products{
    display: flex;
    flex-direction: column;
}

#heading_container{
    padding: 10px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#price_range_filter_container{
    display: flex;
    
}
#popularProducts_head{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popularProducts_head h2{
    margin: 0;
}
#popularProducts_head img {
    width: 85%;
}

#popularProducts_head button{
    border-radius: 100%;
    padding: 8px 11px;
    border: none;
    margin: 10px;
    background-color: #486e00;
}
#catalog_underline{
    width: 100%;
}
#products_container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product_img_container {
    position: relative;
}
.product_container{
background-color: #fdfce2;
}
.product_img_container svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
#popularProducts{}
.product_img_container img {
    z-index: 0;
    width: 100%;
    height: 50vh;
}
#heading_appliedfilters_sort{
    display: flex;
    flex-direction: column;
}
#applied_filters_sort{
    display: flex;
justify-content: space-between;
}
#reset_filters{display: flex;
align-items: center;}

footer *{
    font-family: "ClashDisplay Regular", sans-serif;
}

@media screen and (max-width:1000px) {
    body{
        width: 90%;
        margin: auto;
    }
    #heading {
            font-size: 16px;
    }
    #products_container {
        grid-template-columns: repeat(2, 1fr);
    }
    #product_container{
        width: 30vw;
    }
    #popularProducts_head img {
            width: 210px;
    }
}
@media screen and (max-width:720px) {
    body {
            width: 95%;
            margin: auto;
        }
    #heading {
        font-size: 16px;
    }
    #products_container {
        grid-template-columns: repeat(1, 1fr);
    }
                #product_container {
                    width: 50vw;
                }
}
