

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background: transparent;
    outline: none;
    border: 5px solid lawngreen;
    border-radius: 8px;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: lawngreen;
    cursor: pointer;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}