#navbar_bigscreen {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Logo of the navbar */
#first_bigscreen {
  /* border: 1px solid red; */
  width: 16;
}
#first_bigscreen a {
  text-decoration: none;
  color: #486e00;
  font-size: 1.6rem;
  font-weight: 700;
}

/* middle part of the navbar */
#middle_bigscreen {
  /* border: 1px solid red; */
  width: 35%;
  display: flex;
  justify-content: space-between;
}

#middle_bigscreen a {
  text-decoration: none;
  color: #767774;
  /* font-size: 1rem; */
}

/* last part of the navbar */
#last_bigscreen {
  /* border: 1px solid black; */
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search_bigscreen {
  border: 1px solid rgb(53, 43, 43);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px 10px;
  padding-top: 5px;
  width: 60%;
}
#search_bigscreen input {
  outline: none;
  border: none;
  padding-bottom: 5px;
  width: 90%;
}

#login1_bigscreen {
  display: none;
}
#login1_bigscreen:hover {
  cursor: pointer;
  color: #679c05;
}

#login2_bigscreen {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
}
#login2_bigscreen div:nth-child(2) img {
  /* border: 1px solid red; */
  width: 1.1rem;
}

/* drop downs */
#dropdowns_bigscreen {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: auto;
}
#search_bigscreen_dropdown {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  margin-left: 72%;
  /* width: 216.5px; */
  width: 18%;
  padding-left: 5px;
}
#search_bigscreen_dropdown div {
  padding: 8px;
  cursor: pointer;
}
#login2_bigscreen_dropdown {
  margin-left: 86.5%;
  /* border: 1px solid red; */
  width: 150px;
  text-align: center;
  display: none;
}
#login2_bigscreen_dropdown div {
  margin: 4px 0;
}
#cart_bigscreen {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart_bigscreen div:nth-child(2) {
  /* border: 1px solid red; */
  background-color: #486e00;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

/* for all 4 icons i used */
.icon_bigscreen img {
  width: 1.4rem;
}
