footer button {
    padding: 17px 40px;
    border-radius: 100%;
    border: 0;
    background-color: #486e00;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .2s ease;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

footer button:active {
    background-color: #486e00;
    box-shadow: none;
    transform: translateY(5px);
    transition: 200ms;
}